{% extends 'navigation.html' %}
{% block title %}
<title>Psychiatry</title>
{% endblock %}

{% block content %}
<form class="psychiatry" style="padding-top:150px">
<div class="psychiatry_explanation">
    <h1 style="color:cadetblue;text-shadow:2px 2px 2px pink;text-align:center;">Psychiatry</h1>
    <hr>
    <p style="padding-top:80px;padding-left:50px;">
        Determining when to see a psychiatrist will often require an honest self-assessment. While you shouldn't try to self-diagnose any specific mental health conditions, you can certainly become aware of and pinpoint behaviors, emotions, and thought patterns that are unhealthy.
    </p>
    <p style="padding-left:80px;">
        It's how you cope, how you react, and what you do get through these life experiences that can define whether ot not a psychiatric intervention is a good idea. If you're trying to figure out when to see a psychiatrist, it can help to look for episodes of mental health symptoms that have:
    </p>
    <ul style="padding-left:80px;">
        <li>A sudden onset</li>
        <li>A sharp rise in intensity</li>
        <li>Abd/or a short course</li>
        <li>Long standing Anxiety</li>
        <li>Pattern of interpersonal conflicts</li>
        <li>Avoidance of responsibility</li>
    </ul>
    <ul style="padding-left:80px;">
        <strong>The following signs may indicate it's time to seek professional help:</strong>
        <li>Difficulty regulating emotions ot thought patterns</li>
        <li>Trouble controlling your emotions</li>
        <li>Unexplained or sudden health issues or physical illness</li>
        <li>Not performing efficiently or effectively at work or school</li>
        <li>Sudden changes in sleep patterns or appetite</li>
        <li>Excessive fears or extreme and constant worry</li>
        <li>Struggling to build and maintain relationships</li>
        <li>Unhealthy changes in sex drive or treatment of the opposite sex</li>
        <li>Engaging in risky behavior</li>
        <li>Detachment from reality, delusions, paranoia, or hallucinations</li>
        <li>A life-changing trauma (assault, car accident)</li>
        <li>Loss of interest in activities</li>
        <li>Increased self-isolation</li>
        <li>Increased substance abuse to alleviate symptoms (drugs, alcohol)</li>
        <li>Having suicidal thoughts or self-harm</li>
        <li>Continuous or frequent anger (for periods longer than six months)</li>
        <li>Excessive worry and/or anxiety</li>
        <li>Threats to self or others</li>
    </ul>
</div>
</form>
{% endblock %}